<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/custom.css" type="text/css">
	<title><%= title %></title>
</head>

<body>
	<h1>
		<%= message %>
	</h1>
	<div id="amo_btn">
		<script class="amocrm_oauth" charset="utf-8" data-name="Integration name" data-description="Integration description"
			data-redirect_uri="https://algagecy.herokuapp.com/" data-secrets_uri="https://algagecy.herokuapp.com/secrets"
			data-logo="https://algagecy.herokuapp.com/amocrm_logo.png" data-scopes="crm,notifications"
			data-title="Авторизоваться через amoCRM" data-compact="false" data-class-name="className" data-color="default"
			data-state="state" data-error-callback="functionName" data-mode="popup"
			src="https://www.amocrm.ru/auth/button.min.js"></script>
	</div>
</body>

</html>